* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-rows: 60px 40px 1fr 60px;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
      "header header"
      "header header"
      "main aside"
      "footer footer";
    height: 100vh;
  }
  
  .header {
    grid-area: header;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .header-content {
    margin-bottom: 30px;
    font-size: 18px;
  }
  
  .nav {
    background-color: black;
    width: 100%;
    padding: 1rem;
  }
  
  .nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .nav li {
    margin: 0 20px;
  }
  
  .nav a {
    color: white;
    text-decoration: none;
  }
  
  .main-content {
    grid-area: main;
    background-color: #ccc;
    padding: 20px;
  }
  
  .aside-content {
    grid-area: aside;
    background-color: white;
    padding: 20px;
  }
  
  .footer {
    grid-area: footer;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  