* {
    margin: 0;
    padding: 0;   
    
}

header {
    
    background-color: rgb(89, 87, 87);
    color: white;
    display: flex;
    flex-direction: column;
    height: 140px;
    
}

p {
    padding: 10px;
}

.navbar {
    margin-top: auto;
    
}


.navbar ul {
    background-color: black;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 5px;

}

.navbar a {
    color: rgb(162, 157, 157);
    padding: 10px;
    text-decoration: none;
    display: block;
    
}

.principal {
    display: grid;
    min-height: 83.9vh; 
    grid-template-columns: auto;
    grid-template-rows: auto 80px;

}

.main-content {
    background-color: darkgray;
    padding: 10px;
    grid-column: 1 / 3;
}

aside {
    background-color: white;
    grid-column: 3 / 4;
    padding: 10px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px; 
    grid-column:  1 / 4;
    
    
}